body {
    background-color:#D7C066;
  }

  p  {
	color: #336633;
	font-family:  Arial;
	text-align: justify;
	font-size: 18px;
    width: 85%;
	margin: 35px;
  }

h1{
    font-family: Verdana,Arial,sans-serif;
    font-size: 400%;
    font-style: italic;
    color: #284de2;
    margin-left: 600px;
    }

a:hover {
    color:#D1481B;
background: #EAE8E1;
border-bottom: 3px solid #336633;
font-weight: bold;
text-decoration: none;
}
  }

h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #0033CC;
	font-size: 16px;
	margin-left: 25px;
}

table {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    
}

td, th {
	background-color: #DDDCBD;
}

td
{
    border: 3px solid;
    color: #325928;
}